/*shared properties*/
body{
    max-width: 1140px;
    margin: 15px auto;
}
.flex{
    display: flex;

}

.bold{
    font-weight: bold;
    
    
}
.blue{
    color:#8987A1;
}
.black{
    color:black;
}
.orange{
    color:#E95A08;
}
.btn{
    background-color: #E95A08;
    color: white;
    font-weight: 700;
    height: 36px;
    width: 100%;
    border: none;
    
}
/*nav-bar*/
header{
    margin-bottom: 120px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
}
.nav-box ul{
    gap:48px;
    list-style: none;
    
}
.nav-box ul a{
    text-decoration: none;

}
.gap{
    gap:5px;
}
/*hero section*/
.hero{
    margin-left:45px ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.hero-box-1{
    margin-top: 45px;
}
.hero-title{
    font-size: 3rem;
    font-weight: bold;
    
}
.hero-description{
    
    font-size: 22px;
}
.hero-img{
    width: 100%;
}
/*card-section*/
.cards{
    text-align: center;
    margin-bottom: 200px;
}
.card-title{
    font-size: 2.2rem;
    font-weight: bolder;
}
.card-description,.box-title,.box-price{
    font-size: 22px;
}
.card-description{
    margin-left: 128px;
    margin-right: 128px;
}
.box-price{
    font-weight: bold;
}
.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
.box-img{
    width: 100%;
}
/*responsive*/
@media screen and (max-width:576px){
    body{
        margin: 10px auto;
    }
    .nav{
        padding: 5px;
    }
    .hidden{
        display:none ;
    }
    header{
        margin-bottom: 28px;
    }
    .hero{
        grid-template-columns: repeat(1,1fr);
        grid-column-start: end;
        
    }
    .hero-box{
        grid-row: 1;
    }
    .hero-box-1{
        grid-row: 2;

    }
    .card{
        
        grid-template-columns: repeat(2,1fr);
    }
    
    .cards,.card-description{
        margin-left: 16px;
        margin-right: 16px;
    
   
    }
    
    
}


